@font-face {
  font-family: 'Titan One';
  src: url(../Assets/fonts/Titan_One/TitanOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Patrick Hand';
  src: url(../Assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family:'Actor';
  src: url(../Assets/fonts/Actor/Actor-Regular.ttf);
  font-weight: normal;
  font-size: normal;
}
* {
  /* border: 1px solid red;  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
  color: #3B3A3A;
}
h1 {
  font-family: 'Titan_One', cursive;
  font-size: 1.5em;
  color: #3B3A3A;
}
h2 {
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
  padding-top: 1.5em;
}
p {
  font-family: 'Actor', sans-serif;
  color: #3B3A3A;
  font-size: 0.8em;
}
a {
  color: #3B3A3A;
  font-style: bold;
  text-decoration: underline;
}
ul li {
  list-style: none;
}

.App {
  text-align: center;
  background-color: #F7F1DF;
}

.App-header {
  background-color: white;
  height: 5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #3B3A3A;
  padding: 0 3em;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.App-logo {
  height: 3em;
}

.nav button {
  padding: 0.8em;
  width: 6em;
  border-radius: 0.6em;
  font-family: 'Patrick_Hand', cursive;
  text-transform: uppercase;
  margin-left: 0.5em;
  color: #3B3A3A;
  border:  1px solid #3B3A3A;
  
}

.button-diy {
  background-color:  #F7F1DF;
}
.button-crafts {
  background-color: #F1DCFA;
}
.button-diy:hover, .button-crafts:hover {
 font-size: 0.75em; 
}
.button-diy:active, .button-crafts:active {
  background-color: white;
  border: 2px solid #873EA3;
} 
.search-bar {
  display: flex;
  border-radius: 0.6em;
  overflow: hidden;
  border:  1px solid #3B3A3A;
  height: 2.2em;
  align-items: center;
  padding: 0 0.4em;
}
.submit-button {
  padding: 0;
  border: none;
  height: 2.2em;
  width: 2.2em;
  margin-left: 0.5em;
}

.submit-button img {
  height: 2.2em;
}
.search-bar input {
  height:2em;
  background: transparent;
  padding: 0.8em;
  font-family: 'Actor', sans-serif;
  border: none;
}

@media only screen and (max-width: 650px) {

  .nav button {
    width: 5em;
    font-size: 0.6em;
    padding: 0.5em 0.2em;
    margin-bottom: 0.2em;
  }
  .search-bar {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .App-header {
    padding: 0 1em;
  }
  .nav-logo {
    height: 0.5em;
    width: 50%
  }
  h1 {
    font-size: 1em;
  }
}
.diy, .crafts {
  display: flex;
  justify-content: space-around;
}
.diy {
  height: 100%;
  background-color: #F7F1DF;
}
.crafts {
  height: 100%;
  background-color: #F1DCFA;
}
.feed {
  width: 50%;
}
.post {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
  background-color: white;
  border-radius: 0.6em;
  margin-top: 1em;
}
.post-texts {
  text-align: left;
}
.post-img {
  width: 250px;
  height: auto;
  margin-top: 2em;
}
.post-aside {
  display:flex;
  align-items: flex-end;
}
.post-icon,
.comments-icon,
.close-icon  {
  height: 1em;
  width: 1em;
}
.post-aside {
  font-family: 'Actor', sans-serif;
  color: #3B3A3A;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0.2em;
}
.voting, 
.comments-button {
  display:flex;
  align-items: center;
  font-weight: bold;
}
.voting button {
  padding: 0.5em 0.8em;
  border: 1px solid #3B3A3A;
  border-radius: 0.6em;
}
.comments-button {
  background-color: white;
  border-radius: 0.6em;
  border:  1px solid #3B3A3A;
  padding: 0 0.5em;
  margin: 0;
}
.comments-button:hover {
  border:  1.5px solid #3B3A3A;
}
.comments-button p {
  margin: 0 0.5em;
}
h2.noresult {
  height: 100vh;
  margin-top: 10em;

}

.loading {
  position: fixed;
  top: 15em;
  left: 45%;
  padding: 0;
  border: 1em solid rgb(231, 226, 226);
  border-radius: 50%;
  border-top: 1em solid #873EA3;
  width: 5em;
  height: 5em;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (max-width: 530px) {
  .feed {
    width: 80%;
  }
  .post-aside {
    flex-direction: column;
    align-items: flex-start;
  }
  .post-aside > * {
    margin-top: 0.3em;
  }
}
.comments {
  position: fixed;
  width: 80%;
  top: 20%;
  left: 10%;
  height: 70%;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;  
}
.comments-top-bar {
  display: flex;
  position: fixed;
  top: 20%;
  background-color: white;
  width: 75%;
  height: 3em;
  align-items: center;
  justify-content: space-between;
}
.top-bar-item {
  display: flex;
  align-items: flex-end;
}
.top-bar-item h2 {
  padding: 0;
  margin-left: 0.5em;
}
.top-bar-item button {
  border: none;
  width: 2em;
  background-color: white;
}
.top-bar-item button:hover {
  width: 2.2em;
}
.comment {
  margin-top: 3.5em;
  text-align: left;
  width: 100%;
}
.comment-header {
  display: flex;
  align-items: flex-end;
}
.comment > p {
  padding: 0.8em 0em 0.6em 0.5em;
  font-weight: bold;
}
@media only screen and (max-width: 270px) {
  .comments-top-bar {
    width: 60%;
  }
  .top-bar-item h2 {
    font-size: 1em;
  }
  .top-bar-item button {
    width: 1em;
  }
}

::-webkit-scrollbar {
  width: 1em;
  border-radius: 0.6em;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: #a3a2a2;
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B3A3A;
}
@media only screen and (max-width: 249px){
  ::-webkit-scrollbar {
    width: 0.5em;
  }
}