@font-face {
  font-family: "Titan One";
  src: url(../Assets/fonts/Titan_One/TitanOne-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Patrick Hand";
  src: url(../Assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Actor";
  src: url(../Assets/fonts/Actor/Actor-Regular.ttf);
  font-weight: normal;
  font-size: normal;
}
* {
  /* border: 1px solid red;  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background_purple: #b689c0;
  --background_yellow: #ffffde;
  --accent-color: #873ea3;
  --text-color: #3b3a3a;
  --color-white: #fff;
}
body {
  background-color: var(--background_yellow);
}
html {
  font-size: 18px;
  color: var(--text-color);
}
h1 {
  font-family: "Titan_One", cursive;
  font-size: 2.2rem;
  color: var(--text-color);
}
h2 {
  font-family: "Patrick Hand", cursive;
  font-size: 1.6rem;
  padding-top: 1.5em;
}
p {
  font-family: "Actor", sans-serif;
  color: var(--text-color);
  font-size: 1.4rem;
}
a {
  color: var(--text-color);
  font-style: bold;
  text-decoration: underline;
  font-size: 1.4rem;
}
ul li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-white);
  position: relative;
  min-height: 6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--text-color);
  padding: 0 3em;
  align-items: center;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
.logo {
  display: flex;
  align-items: center;
}
.App-logo {
  height: 3em;
}
.switch-container {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.switch-container > p {
  font-weight: bold;
  font-size: 1.2rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  margin: 0 0.5rem;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a3a2a2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "🧵";
  height: 1.6rem;
  width: 1.6rem;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--accent-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  transform: translateX(2rem);
  content: "✂";
}
.search-bar {
  display: flex;
  border-radius: 0.6em;
  overflow: hidden;
  border: 1px solid var(--text-color);
  height: 2.2em;
  align-items: center;
  padding: 0 0.4em;
}
.submit-button {
  padding: 0;
  border: none;
  height: 2.2em;
  width: 2.2em;
  margin-left: 0.5em;
}
.submit-button img {
  height: 2.2em;
}
.search-bar input {
  height: 2rem;
  background: transparent;
  font-size: 1rem;
  padding: 0.8em;
  font-family: "Actor", sans-serif;
  border: none;
}
.diy,
.crafts {
  display: flex;
  height: 100%;
  justify-content: space-around;
}
.crafts {
  height: 100%;
  background-color: var(--background_purple);
}
.feed {
  width: 50%;
  height: 100%;
}
.post {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding: 1.5em;
  background-color: var(--color-white);
  border-radius: 0.6em;
  margin-top: 2rem;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
.post-texts {
  text-align: left;
}
.post-img {
  width: 100%;
  height: auto;
  margin: 1rem 0;
}
.post-aside {
  display: flex;
  align-items: flex-end;
}
.post-aside > div {
  display: flex;
  gap: 1rem;
}
.icon {
  font-size: 1.2rem;
}
.post-aside {
  font-family: "Actor", sans-serif;
  color: var(--text-color);
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 0.2em;
}
.voting,
.comments-button {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.comments-button {
  background-color: var(--color-white);
  border-radius: 0.6em;
  border: 2px solid transparent;
  padding: 0 0.5em;
  margin: 0;
}
.comments-button:hover {
  /* border: 2px solid var(--text-color); */
  transform: translateY(2px);
  cursor: pointer;
}
.comments-button p, .voting p {
  margin: 0 0.15em;
}
h2.noresult {
  height: 100vh;
  margin-top: 10em;
}

.loading {
  position: fixed;
  top: 15em;
  left: 45%;
  padding: 0;
  border: 1em solid rgb(231, 226, 226);
  border-radius: 50%;
  border-top: 1em solid var(--accent-color);
  width: 5em;
  height: 5em;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.comments {
  position: fixed;
  width: 80%;
  top: 20%;
  left: 10%;
  height: 70%;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.3);
}
.comments-top-bar {
  display: flex;
  position: fixed;
  top: 20%;
  background-color: var(--color-white);
  width: 75%;
  height: 3em;
  align-items: center;
  justify-content: space-between;
}
.comments-top-bar .icon {
  font-size: 1.5rem;
}
.top-bar-item {
  display: flex;
  align-items: flex-end;

}
.top-bar-item h2 {
  padding: 0;
  margin-left: 0.5em;
  margin-bottom: -0.25rem;
}
.top-bar-item button {
  border: none;
  width: 2em;
  background-color: var(--color-white);
}
.top-bar-item button:hover {
  width: 2.2em;
  transform: translateX(3px)
}
.comment {
  margin-top: 3.5em;
  text-align: left;
  width: 100%;
}
.comment-header {
  display: flex;
  align-items: flex-end;
}
.comment > p {
  padding: 0.8em 0em 0.6em 0.5em;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 1em;
  border-radius: 0.6em;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb {
  background: #a3a2a2;
  border-radius: 0.6em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

@media only screen and (max-width: 950px) {
  .search-bar {
    display: none;
  }
}
@media only screen and (max-width: 580px) {
  .App-header {
    flex-direction: column;
    padding-bottom: 1rem;
    gap: 1.25rem;
  }
  .switch-container {
    position: relative;
    left: 0;
  }
  .feed {
    width: 80%;
  }
  .post-aside {
    flex-direction: column;
    align-items: flex-start;
  }
  .post-aside > * {
    margin-top: 0.3em;
  }
}
@media only screen and (max-width: 320px) {
  .App-header {
    padding: 0 1em;
  }
  .nav-logo {
    height: 0.5em;
    width: 50%;
  }
  h1 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 270px) {
  .comments-top-bar {
    width: 60%;
  }
  .top-bar-item h2 {
    font-size: 1em;
  }
  .top-bar-item button {
    width: 1em;
  }
}

@media only screen and (max-width: 249px) {
  ::-webkit-scrollbar {
    width: 0.5em;
  }
}
